asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==6.0.6
django-debug-toolbar==6.3.0
idna==3.18
psycopg2-binary==2.9.12
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
stripe==15.2.1
typing_extensions==4.15.0
urllib3==2.7.0
celery
redis
pytest
pytest-django
factory-boy
coverage
factory-boy