<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Category</title>
</head>
<body>
<h1>Category of Books</h1>

{% for i in categories %}
    <a href="{% url 'books_by_category' i.slug %}">
        {{ i.name }} - книг {{ i.num_books }}
    </a>

{% empty %}
    <p>Категорий пока нет.</p>
{% endfor %}

</body>
</html>